<template name="MatchList">

  {{#contentFor "headerTitle"}}
    <h1 class="title"> Matches  </h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

  <div class="match-list">


      <div class="list">
        {{#with partner}}
          {{#each this}}
            <a href="{{ pathFor 'Chatroom' MatchListId = _id }}">
              <div class="item item-avatar">
                <img src="http://graph.facebook.com/{{getfbid}}/picture?type=large&width=50&height=50" alt="">
                <h2>{{getName}}</h2>
                <p>{{lastChat}}</p>
              </div>
            </a>
          {{/each}}
        {{else}}
          No parnter
        {{/with}}
      </div>


  </div>


    {{/ionContent}}
      {{/ionView}}

</template>
