/*****************************************************************************/
/* Chatroom: Style */
/*****************************************************************************/
.chatroom {
  height: 100%;
  position: relative;
}


.chatBox{
  // height: 400px;
  // height: calc( 100% - 34px );
  // width: calc(100% - 20px );
  // position: relative;
  height: 100%;
}

.input-group{
  position: absolute;
  bottom: 0;
}


.mine {
  position: relative;
  text-align: left;
  .bubble {
    float: right;
    background: #C8EBB0;

    position: relative;
    max-width: 50vw;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    border-radius:         3px;
  }
  .bubble:before {
    border-left: 12px solid #C8EBB0;//was not defined with .bubble
    left: 100%;

    content:"";
    position: absolute;
    //top: 26px;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
  }
}

.notmine {
  text-align: left;
  .bubble {
    float: left;
    background: #EAEAEA;

    position: relative;
    max-width: 50vw;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
    border-radius:         3px;
  }
  .bubble:before {
    border-right: 12px solid #EAEAEA;//was not defined with .bubble
    right: 100%;

    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
  }

}
