<template name="Chatroom">
  {{#ionView}}
    {{#ionContent}}

    <div class="chatroom">

      <div class="chatBox">
        {{#each Chat}}
          {{> chatMessage}}
        {{/each}}
      </div>

      <div class="input-group">
        <input type="text" class="text form-control" placeholder="" aria-describedby="">
        <span class="input-group-addon send" id="basic-addon2">Send</span>
      </div>

    </div>

    {{/ionContent}}
  {{/ionView}}

</template>

<template name="chatMessage">
    <div class="{{isMind}} clearfix">
      <div class="bubble">
        {{text}}
      </div>
    </div>
</template>
