/*****************************************************************************/
/* Chatroom: Style */
/*****************************************************************************/
.chatroom {
  height: 100%;
  position: relative;
}


.chatBox{
  // height: 400px;
  // height: calc( 100% - 34px );
  // width: calc(100% - 20px );
  // position: relative;
  height: 100%;
}

.input-group{
  @extend %flex-row-container;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 42px;
  background-color: #dedede;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 8px;
  padding-right: 8px;

  input.text.form-control {
    height: 30px;
    margin-right: 8px;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;

    letter-spacing: 0.05rem;
    font-family: SourceSansPro-Regular;

  }

  span.input-group-addon.send{
    width: 60px;
    font-size: 1.2em;
    padding: 0;
    border: none;
    background-color: transparent;
    color: $appMainColor;
    cursor: pointer;

    letter-spacing: 0.05rem;
    font-family: SourceSansPro-Bold;


    &:active {
      color: #333;
    }
  }
}


.mine {
  position: relative;
  text-align: left;
  .bubble {
    float: right;
    background: #ffd169;

    color: #222;
    letter-spacing: 0.05rem;
    font-family: SourceSansPro-Regular;

    position: relative;
    max-width: 50vw;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    -moz-border-radius:    12px;
    -webkit-border-radius: 12px;
    border-radius:         12px;

    margin: 8px 16px 8px 16px;
  }
  .bubble:before {
    border-left: 12px solid #ffd169;//was not defined with .bubble
    left: 100%;
    // border-right: 12px solid #000;

    content:"";
    position: absolute;
    bottom: 10px;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
  }
}

.notmine {
  text-align: left;
  .bubble {
    float: left;
    background: #c1e0fe;

    color: #222;
    letter-spacing: 0.05rem;
    font-family: SourceSansPro-Regular;

    position: relative;
    max-width: 50vw;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    -moz-border-radius:    12px;
    -webkit-border-radius: 12px;
    border-radius:         12px;

    margin: 8px 16px 8px 16px;
  }
  .bubble:before {
    border-right: 12px solid #c1e0fe;//was not defined with .bubble
    right: 100%;

    content:"";
    position: absolute;
    bottom: 10px;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
  }

}
