<template name="Home">

  {{#contentFor "headerTitle"}}
    <h1 class="title"> Tracks </h1>
  {{/contentFor}}


  {{#ionView}}
    {{#ionContent}}

    <div class="home">
      <!-- <div class="list card"> -->
          {{#each movies}}
              {{> movieCard}}
          {{/each}}

    <!-- </div> -->
    </div>

  {{/ionContent}}
{{/ionView}}

</template>


<template name="movieCard">

  <a class="item item-thumbnail-left card" href="{{ pathFor 'Partner' trackId=_id }}" style = "background-image: url({{pic}})">
    <div class="overlay"></div>
    <!-- <img src="{{pic}}"> -->
    <h2>{{name}}</h2>
    <p>Nine Inch Nails</p>
  </a>

</template>
