<template name="Home">

  {{#contentFor "headerTitle"}}
    <h1 class="title"> Tracks </h1>
  {{/contentFor}}


  {{#ionView}}
    {{#ionContent}}

    <div class="home">
      <!-- <div class="list card"> -->
          {{#each movies}}
              {{> movieCard}}
          {{/each}}

    <!-- </div> -->
    </div>


    <!-- <button class="logout">logout</button> -->

  {{/ionContent}}
{{/ionView}}

</template>


<template name="movieCard">

  <a class=" track item item-thumbnail-left" data-trackid={{_id}} >
     <img src="{{pic}}">
     <h2>{{name}}</h2>
     <p>Nine Inch Nails</p>
   </a>

</template>
