<template name="Partner">

  {{#contentFor "headerTitle"}}
    <h1 class="title"> find you runmate </h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" "}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
        <div class="partner">
          <div class="blur-bg" style="background-image: url({{backgroundUrl}})"></div>

          <div class="track-detail">
            <div class="overlay"></div>
            <img src="/image/location_pin.svg">
            <div class="detail">{{trackName}}</div>
          </div>
              <ul class="stack">

              {{#with partner }}

                  {{#each partner }}

                      <li class="card" data-userid={{userId}} >
                        <div class="item name">
                          {{gatName}}
                        </div>

                        <div class="item item-image" style="background-image: url(http://graph.facebook.com/{{fbID}}/picture?width=300&height=445)">
                          <!-- <img src="" data-userid={{userId}} > -->
                        </div>

                        <div class="rubber_stamp Nope">Nope</div>
                        <div class="rubber_stamp Like">Like</div>
                      </li>

                  {{/each}}

              {{else}}
                <div class="item" >No Partner</div>
              {{/with}}
              </ul>
        </div>
      {{/ionContent}}
   {{/ionView}}


</template>

<template name="_myModal">
  {{#ionModal title="matched!"  }}
    <div class="modal-container">

      <div class="match-pic-container">
        <div class="partner-pic" style="background-image: url(http://graph.facebook.com/{{getfbid targetId}}/picture?type=large&width=300&height=445)"></div>

        <div class="my-pic" style="background-image: url(http://graph.facebook.com/{{getfbid myId}}/picture?type=large&width=300&height=445)"></div>
      </div>

      <div class="match-text">You and {{partner}} liked each other.</div>
      <a href="{{ pathFor 'Chatroom' MatchListId = chatroomId }}" data-dismiss="modal">
      <div class="start-chatting-btn">Let's start chatting!</div>
      </a>

    </div>
  {{/ionModal}}
</template>
