<template name="Partner">

  {{#ionView}}
    {{#ionContent}}
        <div class="partner">
              <ul class="stack"  width="300">

              {{#with partner }}

                  {{#each partner }}

                      <li class="card" data-userid={{userId}} >


                        <div class="item item-image" >
                          <img src="http://graph.facebook.com/{{fbID}}/picture?type=large&width=300&height=445" data-userid={{userId}} >
                        </div>
                        <div class="item name">
                          {{profile.name}}
                        </div>
                        <div class="rubber_stamp Nope">Nope</div>
                        <div class="rubber_stamp Like">Like</div>
                      </li>

                  {{/each}}

              {{else}}
                <div class="item" >No Partner</div>
              {{/with}}
              </ul>
        </div>
      {{/ionContent}}
   {{/ionView}}


</template>
