<template name="Partner">

  {{#contentFor "headerTitle"}}
    <h1 class="title"> Find you RunMate </h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text=" "}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
        <div class="partner">
              <ul class="stack"  width="300">

              {{#with partner }}

                  {{#each partner }}

                      <li class="card" data-userid={{userId}} >


                        <div class="item item-image" style="background-image: url(http://graph.facebook.com/{{fbID}}/picture?type=large&width=300&height=445)">
                          <!-- <img src="" data-userid={{userId}} > -->
                        </div>
                        <div class="item name">
                          {{profile.name}}
                        </div>
                        <div class="rubber_stamp Nope">Nope</div>
                        <div class="rubber_stamp Like">Like</div>
                      </li>

                  {{/each}}

              {{else}}
                <div class="item" >No Partner</div>
              {{/with}}
              </ul>
        </div>
      {{/ionContent}}
   {{/ionView}}


</template>
