<template name="Tabs">
  {{#if isAndroid}}
    {{#ionTabs style="android" class="tabs-background-positive tabs-color-light"}}
      <!-- {{> ionTab title="Home" path="Home" icon="android-home"}} -->
      {{> ionTab title="Home" path="Home" icon="android-people"}}
      {{> ionTab title="MatchList"    path="MatchList" icon="android-chat"  }}

    {{/ionTabs}}
  {{else}}
    {{#ionTabs style="ios"}}
      <!-- {{> ionTab title="Home" path="Home" iconOff="ios-home-outline" iconOn="ios-home"}} -->
      {{> ionTab title="Home" path="Home" iconOff="ios-people-outline" iconOn="ios-people"}}
      {{> ionTab title="MatchList"    path="MatchList" iconOff="ios-chatbubble-outline" iconOn="ios-chatbubble"  }}
    {{/ionTabs}}
  {{/if}}
</template>
