/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
$appMainColor: rgba(240,153,5,1.0);

.main {
}

a, a:hover, a:visited, a:active, a:link{
  text-decoration: none;
  color: inherit;
}

a.tab-item.active {
  color: $appMainColor;
  i {
    color: $appMainColor;
  }
}

i.icon.ion-ios-arrow-back, i.icon.ion-ios-close-empty {
  color: $appMainColor;
}

div.content.overflow-scroll.has-header.has-tabs {
  // background-color: rgba(240,153,5,1.0);
  background-color: #efefef;
}

div.bar.bar-header.bar-stable {
  background-color: #fff;
  border-color: rgba(0,0,0,0.14);

  h1,h2 {
    color: $appMainColor;
    font-family: BaronNeue;
    font-size: 1.3rem;
    padding-top: 2px;
  }
}

div.tabs {
  // border-color: rgba(240,153,5,1.0);
  border-color: #efefef;
  background-color: #fff;
}

%flex-bare-container {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}

%flex-row-container {
  @extend %flex-bare-container;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

%flex-column-container {
  @extend %flex-bare-container;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@font-face {
  font-family: MJF;
  src: url(/font/MJF.ttf);
}

@font-face {
  font-family: BaronNeue;
  src: url(/font/Baron_Neue.otf);
}

@font-face {
  font-family: SourceSansPro-Semibold;
  src: url(/font/SourceSansPro-Semibold.otf);
}

@font-face {
  font-family: SourceSansPro-Bold;
  src: url(/font/SourceSansPro-Bold.otf);
}

@font-face {
  font-family: SourceSansPro-BoldIt;
  src: url(/font/SourceSansPro-BoldIt.otf);
}

@font-face {
  font-family: SourceSansPro-Regular;
  src: url(/font/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: SourceSansPro-Light;
  src: url(/font/SourceSansPro-Light.otf);
}

@font-face {
  font-family: SourceSansPro-ExtraLight;
  src: url(/font/SourceSansPro-ExtraLight.otf);
}

@font-face {
  font-family: SourceSansPro-ExtraLightIt;
  src: url(/font/SourceSansPro-ExtraLightIt.otf);
}

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';

@import "client/templates/chatroom/chatroom.scss";
@import "client/templates/partner/partner.scss";
@import "client/templates/home/home.scss";
@import "client/templates/login/login.scss";
@import "client/templates/match_list/match_list.scss";