/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.main {
}

%flex-bare-container {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}

%flex-row-container {
  @extend %flex-bare-container;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

%flex-column-container {
  @extend %flex-bare-container;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';

@import "client/templates/chatroom/chatroom.scss";
@import "client/templates/partner/partner.scss";