/*****************************************************************************/
/* Login: Style */
/*****************************************************************************/
.login {
	@extend %flex-column-container;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	position: relative;
	.blur-bg {
		position: absolute;
		top: -10px;
		bottom:  -10px;
		left:  -10px;
		right:  -10px;
		background: url(/image/runners-high_2.jpg) center center no-repeat;
		background-size: auto 100%;
		filter: blur(1px) brightness(1.0);
	  -webkit-filter: blur(1px) brightness(1.0);
	  z-index: -1;
	}

	.logo-container {
		@extend %flex-column-container;
		margin-top: 28%;
		justify-content: center;
		align-items: center;

		img {
			width: 85%;
		}
		h1 {
			font-family: MJF;
			color: #fff;
			font-size: 2.8rem;
			margin-top: -20px;
			text-shadow: 0px 1px 2px rgba(0,0,0,0.6);
		}
		
	}

	.fb-login-btn{
		@extend %flex-column-container;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 20%;
		width: 100%;
		cursor: pointer;
		// height: 44px;
		
		img {
			width: 80%;
		}
	}
}
